@media (min-width: 980px) {
    .content {
        width: 75%;
    }
}
.content {
    padding: 40px;
}

.imageHolder img{
    max-width: 100%;
}

.profile-holder {
    display: flex;
    padding: 20px 0;
}

.profile-text {
    padding: 0 20px;
}