nav.navigation ul{
    list-style: none;
}

nav.navigation li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

nav.navigation a {
    text-decoration: none;
}

nav.navigation a{
    color: #2980b9;
}
nav.navigation a.active {
    color: #e74c3c !important;
}
nav.navigation a:hover {
    color: #e74c3c;
}