nav.navigation ul{
    list-style: none;
}

nav.navigation li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

nav.navigation a {
    text-decoration: none;
}

nav.navigation .item a{
    color: #2980b9;
}
nav.navigation .active a{
    color: #e74c3c;
}
nav.navigation .item a:hover {
    color: #e74c3c;
}